// Colors
$color: #fff;
$dark-primary: #555;

$background-primary-dark: #1a1f30;
$background-primary: #252c40;
$primary-dark-contrast: #647cbe;
$primary-dark-contrast-dark: #5367a5;
$special: #ae4bf5;
$danger: #d21f1f;
